*{
    margin: 0;
    padding: 0;
    box-sizing: border-box0;
}

.centro{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 2%;
    display: flex;
}
header{
    background-color: white;
    padding: 20px 0;
    border-bottom: #7510F7;
}
.logo{
    color: #7510F7;
}
.menu{
    width: 80%;
    text-align: right;
}
.menu a{
    color: #7510F7;
    font-size: 16px;
    text-decoration: none;
    margin-right: 30px;
}
.menu a:hover{
    color: black;
}
/* main*/

.main{
    width: 100%;
    text-align: center;
    margin: 60px 0 ;
}

.main h1{
    color: #14022b;
    font-size: 35px;
}